/syscode/.vs
/syscode/NetCoreFrame.WebUI/Properties
/syscode/NetCoreFrame.WebUI/obj
/syscode/NetCoreFrame.Core/obj
/syscode/NetCoreFrame.Core/bin
/syscode/NetCoreFrame.Entity/obj
/syscode/NetCoreFrame.Entity/bin
/syscode/NetCoreFrame.Repository/Properties
/syscode/NetCoreFrame.Repository/bin
/syscode/NetCoreFrame.Repository/obj
/syscode/NetCoreFrame.Service/bin
/syscode/NetCoreFrame.Service/obj
/syscode/NetCoreFrame.WebUI/log
/syscode/NetCoreFrame.WebUI/bin
/syscode/NetCoreFrame.Entity/Migrations
/syscode/NetCoreFrame.Socket/obj
/syscode/NetCoreFrame.Socket/bin
/syscode/NetCoreFrameLog
/syscode/NetCoreFrame.WebApi/Properties
/syscode/NetCoreFrame.WebApi/bin
/syscode/NetCoreFrame.WebApi/obj
/syscode/NetCoreFrame.WebApi/NetCoreFrame.WebApi.xml 