@model NetCoreFrame.Entity.FrameEntity.Frame_Information

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/js/wangEditor/wangEditor.js"></script>
@section Styles{
    <style type="text/css">
        .layui-table-view .layui-table-body tr.table_tr_click {
            background-color: #e6e6e6;
        }

        .layui-inline {
            margin-right: 0px !important;
            width: 100%;
        }

        .layui-form-item {
            margin-bottom: 0px !important;
        }
    </style>
}

<form asp-action="Create" class="layui-form layui-form-pane" data-ajax-success="afterSuccess" data-ajax="true" data-ajax-method="POST" id="uploadForm">

    <div class="layui-inline">
        <label asp-for="FileTitle" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="FileTitle" type="text" name="FileTitle" placeholder="文件标题" class="layui-input">
            <span asp-validation-for="FileTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">发布日期</label>
        <div class="layui-input-block">
            <form:DateTime name="CreateTime" is-now="true"></form:DateTime>
        </div>
    </div>
    <div class="layui-inline">
        <label asp-for="CategoryName" class="layui-form-label"></label>
        <div class="layui-input-block">
            <SelectLists code-name="栏目类别" name="CategoryName"></SelectLists>
        </div>
        <a href=""></a>
    </div>
    <div class="layui-inline">
        <label asp-for="FileType" class="layui-form-label"></label>
        <div class="layui-input-block">
            <SelectLists code-name="多媒体" name="FileType" first-name="无"></SelectLists>
        </div> 
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">封面图片</label>
        <div class="layui-input-block">
            <form:Upload name="ImgAttachID" is-upload-img="true"></form:Upload>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">文件上传</label>
        <form:Upload name="AttachID" is-upload-img="false"></form:Upload>
    </div>


    <div class="layui-inline">
        <label class="layui-form-label">视音频时长(00:00:00)</label>
        <div class="layui-input-block">
            <input asp-for="VideoMinLength" type="text" name="VideoMinLength" placeholder="视音频时长" class="layui-input">
        </div>
    </div>
     
    <form:Editor name="FileContent"></form:Editor>

    <div class="layui-form-item">
        <div class="layui-input-block" style='text-align:center;margin:0 auto;margin-top:10px'>
            <button class="layui-btn" lay-submit lay-filter="formSubmit" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="btnreset">重置</button>
        </div>
    </div>
</form>
@section Scripts{

    <script type="text/javascript"> 
        function afterSuccess(data) {

            var result = JSON.parse(data);
            if (result.Status == true) {
                $("#btnreset").click();
                layer.close(layer.index);
                parent.$('.refreshThis').click();
            }
        }

    </script>

}

