@model NetCoreFrame.Entity.FrameEntity.Frame_Module

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" class="layui-form layui-form-pane" data-ajax-success="afterSuccess" data-ajax="true" data-ajax-method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="layui-form-item">
        <label asp-for="Name" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="Name" type="text" name="Name" required lay-verify="required"
                   placeholder="请输入模块名称" autocomplete="off" class="layui-input">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div>
    <div class="layui-form-item">
        <label asp-for="IconName" class="layui-form-label"></label>

        <div class="layui-input-block">

            <input asp-for="IconName" type="text" name="IconName" required lay-verify="required"
                   autocomplete="off" class="layui-input" style="width:85%;display:inline-block">
            <span asp-validation-for="IconName" class="text-danger"></span>
            <button type="button" class="layui-btn" id="select-icons">选择</button>
        </div>
    </div>
    <div class="layui-form-item">
        <label asp-for="Url" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="Url" type="text" name="Url" required lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label asp-for="PModuleName" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="PModuleName" type="text" name="PModuleName" lay-filter="PModuleName" required lay-verify="required"
                   autocomplete="off" class="layui-input">

            @*<i class="layui-icon layui-icon-search" style="font-size: 30px; color: #1E9FFF;"></i>*@
        </div>
    </div>
    <div class="layui-form-item">
        <label asp-for="PModuleId" class="layui-form-label"></label>
        <div class="layui-input-block">
            <input asp-for="PModuleId" type="text" name="PModuleId" required lay-verify="required"
                   autocomplete="off" class="layui-input">
            <input asp-for="ModuleCode" type="hidden" name="ModuleCode"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        var iconsIndex;
        layui.use(['treeSelect', 'jquery'], function () {

            var treeSelect = layui.treeSelect;
            var $ = layui.$ //重点处 
            treeSelect.render({
                // 选择器
                elem: '#PModuleName',
                // 数据
                data: '/FrameModule/LoadSelectDeptTree',
                // 异步加载方式：get/post，默认get
                type: 'post',
                // 占位符
                placeholder: '选择所属模块',
                // 是否开启搜索功能：true/false，默认false
                search: true,
                style: {
                    folder: {
                        enable: true
                    },
                    line: {
                        enable: true
                    }
                },
                // 点击回调
                click: function (d) {

                    $("#PModuleId").val(d.current.id);
                    $("#PModuleName").val(d.current.name);
                    $("#ModuleCode").val(d.current.treecode);

                },
                // 加载完成后的回调函数
                success: function (d) {
                }
            });
        });


        function afterSuccess(data) {
            var result = JSON.parse(data);
            if (result.Code == 200) {
                layer.close(layer.index);
                parent.$('.refreshThis').click();
            }
        }
        $("#select-icons").click(function () {

            layui.use('layer', function () {
                var layer = layui.layer;
                $.ajax({ url: '/FrameModule/Icons' }).done(function (result) { 
                    iconsIndex = layer.open({
                        type: 1,
                        content: result, //注意，如果str是object，那么需要字符拼接。
                        area: ['600px', '400px']
                    });
                });

            });

        });
    </script>

}

