@model NetCoreFrame.Entity.FrameEntity.Frame_Dept

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" class="layui-form layui-form-pane" data-ajax-success="afterSuccess" data-ajax="true" data-ajax-method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="layui-form-item">
        <label asp-for="DeptName" class="layui-form-label"></label>

        <div class="layui-input-block">
            <input asp-for="DeptName" type="text" name="DeptName" required lay-verify="required"
                   placeholder="请输入部门名称" autocomplete="off" class="layui-input">
            <span asp-validation-for="DeptName" class="text-danger"></span>
        </div>

    </div>
    <div class="layui-form-item">
        <label for="" class="layui-form-label">上级部门</label>
        <div class="layui-input-block">
            <input type="text" id="tree2" lay-filter="tree2" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label for="" class="layui-form-label">上级部门ID</label>
        <div class="layui-input-block">
            <input type="text" name="PDeptID" id="PDeptID" asp-for="PDeptID" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit" type="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
@section Scripts{


    <script type="text/javascript">
        function afterSuccess(data) {

            var result = JSON.parse(data);
            if (result.Code == 200) {
                layer.closeAll();
            }
        }
        layui.use(['treeSelect', 'jquery'], function () {

            // layer.msg('Hello world');
            var treeSelect = layui.treeSelect;
            var $ = layui.$ //重点处


            treeSelect.render({
                // 选择器
                elem: '#tree2',
                // 数据
                data: '/FrameDept/LoadSelectDeptTree',
                // 异步加载方式：get/post，默认get
                type: 'post',
                // 占位符
                placeholder: '选择所属部门',
                // 是否开启搜索功能：true/false，默认false
                search: true,
                style: {
                    folder: {
                        enable: true
                    },
                    line: {
                        enable: true
                    }
                },
                // 点击回调
                click: function (d) {
                    $("#PDeptID").val(d.current.id);
                },
                // 加载完成后的回调函数
                success: function (d) {
                    debugger;
                    console.log(d);

                }
            });
        });
    </script>

}

